/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* The Pro Font */
  background-color: #f7f8fc;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
}